// .cube {
//     width: 50vw;
//     height: 50vh;
// }

.row {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

.point-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 100px;
}

.bonus-line-container {
    margin-top: 50px;
}