<div class="row page-container">
    <div class="col">
        <div class="row">
            <canvas #canvas id="canvas" class="cube"></canvas>
        </div>
    </div>
    <div class="col options-container">
        <div class="row">
            <button (click)="toggleVerticesVisibility()">Hide vertices</button>
        </div>
        <div class="row">
            <button (click)="test()">test</button>
        </div>
        <div class="row">
            <div class="col  bonus-line-container">
                <div class="point-container" *ngFor="let item of points; let i = index;" >
                    <button [ngClass]="item.object?.name === selectedObject?.name ? 'button-red' : ''" (click)="selectVertex(i)">{{item.object?.name.replace('Point_', 'P')}}</button>
                    <div class="col">
                        <label>{{item.point.x.toFixed(2)}} , {{item.point.y.toFixed(2)}}</label>
                        <label>{{getAngle(i)}}</label>
                    </div>
                </div>
            </div>

            <div class="col">
                <div *ngIf="displayLine(-1)" class="point-container">
                    <button [ngClass]="isEdgeSelected(-1) ? 'button-red' : ''" (click)="selectEdge(-1)">L{{points.length - 1}}</button>
                    <div class="col">
                        <label>{{getEdgeLength(-1).toFixed(3)}}</label>
                    </div>
                </div>
                <div *ngIf="!displayLine(-1)"  class="point-container">
                    <label>nimic</label>
                </div>
                <div *ngFor="let item of points; let i = index;" >
                    <div *ngIf="displayLine(i)"  class="point-container">
                        <button [ngClass]="isEdgeSelected(i) ? 'button-red' : ''" (click)="selectEdge(i)">L{{i}}</button>
                        <div class="col">
                            <label>{{getEdgeLength(i).toFixed(3)}}</label>
                        </div>
                    </div>
                    <div *ngIf="!displayLine(i)"  class="point-container">
                        <label>nimic</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <button (click)="addVertex()">Add vertex</button>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <button (click)="addVertex('curve')">Add curve point</button>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <button (click)="removeVertex()">Remove vertex</button>
                </div>
            </div>
        </div>
    </div>
</div>
