// .cube {
//     width: 50vw;
//     height: 50vh;
// }

.page-container {
    height: 100%;
    width: 100%;
}

.row {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

.options-container {
    padding-top: 30px;
    padding-bottom: 30px;
    overflow-y: auto;
}

.point-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 100px;
}

.button-red {
    background-color: red;
}

.bonus-line-container {
    margin-top: 50px;
}