<div class="row page-container">
    <app-generate-line [shape]="surface" [canDoActions]="!expandedShapeDetails"></app-generate-line>
    <div class="col shape-list-container">
        <button class="add-shape-button" (click)="addNewShape()">Add shape</button>
        <app-generate-line class="shape-container" *ngFor="let shape of shapes" [shape]="shape" [isCanvasMinimized]="!(shape.id === expandedShapeDetails?.id)" [canDoActions]="true" (updateMinimizationEvent)="updateShapeMinimization($event, shape)"></app-generate-line>
    </div>
</div>